:root {
    --blue: dodgerblue;
    --white: rgb(255, 255, 255);
    --darkblue: rgb(2, 43, 85); 
  }

* {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
}

button {
    margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px;
}

li {
    margin: 5px;
}

#header-bar {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    background-color: var(--blue);
    color: var(--white);
}

 /* CONTAINER CARD BORDER FOR LAYOUT DEBUG */
.container-card {
    /* border-style: solid;
    border-color: black;
    border-width: 1px; */
}

.main-container {
    display: flex;
    flex-direction: row;
}

.left-side {
    flex-grow: 0.5;
    display: flex;
    flex-direction: column;
}

.right-side {
    flex-grow: 1.5;
    display: flex;
    flex-direction: column;
}

#search-card{
    display: flex;
    flex-direction: column;
}

#search-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#city-name{
    padding: 5px;
    font-size: larger;
}

#history-card{
    display: flex;
    flex-direction: column;
}

#search-history-ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-button {
    background-color: var(--white);
    color: blue;
    margin: 5px;
}

#weather-card{
    display: flex;
    flex-direction: column;
}

#five-day-card{
    display: flex;
    flex-direction: column;
}

#five-day-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

.five-cards{
    border-style: solid;
    border-color: black;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    color: var(--white);
    background-color: var(--darkblue);

}