:root {
    --nice-grey: #7b7b7bc7;
    --white: #ffffff;
    --soft-blue: #269dcccc;
    --button-blue: #8fd1c1;
    --background: #ffffff;
    --main-text:  #000000af;

  }


* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    color: var(--main-text);
    background-color: var(--background);
}

/* Global Selectors */

button {
    background-color: var(--button-blue);
    margin: 10px;
    border: none;
    border-radius: 10px;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    color: var(--white);
}

h1, h2, h3, h4, h5, h6 {
    margin: 10px;
}

li {
    margin: 5px;
    list-style: none;
}

/* Header Section */

#header-bar {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    color: var(--white);
    background-color: var(--soft-blue);
}

/* Main container classes */

.main-container {
    display: flex;
    flex-direction: row;
}

.left-side {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
}

.right-side {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/* Search Container  */

#search-card{
    display: flex;
    flex-direction: column;
}

#search-card button{
    color: var(--white);
    background-color: var(--soft-blue);
}

#search-box{
    display: flex;
    flex-direction: column;
    padding: 10px;
}

#city-name{
    padding: 5px;
    font-size: larger;
}

/* Search History Container */

#history-card{
    display: flex;
    flex-direction: column;
}

#search-history-ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#clear-search-btn{
    color: var(--white);
    background-color: var(--soft-blue);
}

/* Current Weather Container */

#weather-card{
    display: flex;
    flex-direction: column;
}

#current-weather-ul img{
    width: 150px;
    height: 150px;
}

/* Five Day Forecast Section  */

#five-day-card{
    display: flex;
    flex-direction: column;
}

#five-day-header{
    display: none;
    margin-left: 42px;
}

#five-day-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
}

#five-day-ul img{
    width: 80px;
    height: 80px;

}

.five-cards{
    border-style: none;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 5px;
    font-size: medium;
    color: var(--white);
    background-color: var(--nice-grey)
}